@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

/*----------------------------------mobile--------------*/
.mobile-nav-button {
	/* Reset for button */
	cursor: pointer;
	padding: 0;
	border: none;
	background: transparent;

	/* Nav icon styles*/
	position: relative;
	z-index: 999;
	width: 40px;
	height: 30px;
	/* display: flex; */
	justify-content: center;
	align-items: center;

    display: none;
}

@media (max-width: 768px){
    .mobile-nav-button {
        display: flex;
        position: fixed;
        right: 25px;
        top: 18px;
        z-index: 10;
    }
}

.mobile-nav-button__icon {
	display: block;
	position: relative;
	width: 40px;
	height: 5px;
	background-color: #000;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
	position: absolute;
	content: '';
	width: 40px;
	height: 5px;
	background-color: #000;
    /* Трансформация при закрывании */
	transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon::before {
	left: 0;
	top: -10px;
}

.mobile-nav-button__icon::after {
	left: 0;
	top: 10px;
}

.mobile-nav-button__icon.active {
	background-color: transparent;
}

.mobile-nav-button__icon.active::before {
	transform: rotate(45deg);
	top: 0;
    /* Трансформация при открывании */
	transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}

.mobile-nav-button__icon.active::after {
	transform: rotate(-45deg);
	top: 0;
    /* Трансформация при открывании */
	transition: top 0.15s linear, transform 0.15s ease-in 0.15s;
}
/*----------------------меню---------------*/
.mobile-nav {
  /* display: none; */

  position: fixed;
  z-index: 8;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 1); 
//   background-color: aqua;

  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 40px 15px;
  transition: 0.5s;
  text-align: center;
}
.mobile-nav.active {
    display: flex;
  
   top:0;
 }

.menu__list.active {
   display: flex;
   flex-direction: column;
   position: absolute;
   background-color: white;
   width: 115%;
   align-items: center;
  top: 150px;
  
  margin-left: -15px;
  
}
.mobile-login {
    display: flex;
    align-items: center;
    font-size: 22px;
  }

  .mobile-nav-list ul{
padding: 0;
  }







/*---------------------mobile end----------------*/
.header__row{
    position: relative;
    z-index: 10;
    
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    align-items: center;
}
.menu__list{
    display: flex;
   
    
}
.menu__item:not(:last-child){
    margin: 0 40px 0 0;
    
}
.menu{
    &__link{
        display: inline-block;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        color: #000;
        padding: 10px 0;
        border-bottom: 2px solid transparent;
        transition: 0.3s;
    } 
}
.menu__link:hover{
    border-bottom: 2px solid $green;
    .menu__link::before{
        content: "";
        
    }
}
.header__autoriz{
    display: flex;
   
   
}
.autoriz{
    &__search{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #F3FBF8;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;

    }
    &__basket{
     margin-left: 20px;
     transition: all 0.3s;
     
    }
    &__link{
        font-weight: normal;
        font-size: 18px;
        line-height: 111%;
        color: #FFFFFF;
        padding: 10px 23px;
        background: #09A66D;
        border-radius: 8px;
        margin-left: 32px;
        transition: all 0.3s;

    }
}
.autoriz__search:hover{
    transform: scale(1.1);
}
.autoriz__basket:hover{
    transform: scale(1.1);
}
.autoriz__link:hover{
    background: #03a167bd;
    box-shadow: 0px 0px 48px -1px rgba(69, 184, 62, 0.3);
}
.home{
    
    background: #F3FBF8;
}
.home{
    .container{
     position: relative;
    }
}
.home__bg{
    position: absolute;
    left: -84px;
    bottom: 490px;
    
}
.home__heading{
    text-align: center;
    position: relative;
    
}
.heading__title{
    font-family: $rosario;
    font-weight: bold;
    font-size: 70px;
    // line-height: 129%;
    color: #222222;
    margin-top: 87px;
    
    

}
.heading__subtitle{
    font-weight: normal;
    font-size: 18px;
    line-height:167%;
    text-align: center;
    color: #555555;
    max-width: 637px;
    margin: 0 auto;
    margin-top: 20px;
}
.home__btn{
    padding-top: 40px;
    .btn{
        margin: 0 auto;
    }
}
.home__down{
    display: flex;
    justify-content: space-between;
}
.down__colum{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    

}
.down__colum-item{
    position: relative;
    width: 250px;
    // height: 116px;
    background: #FFFFFF;
    margin-bottom: 30px;
    
    
}

.down__img{
    background-size: cover;
}
.down__colum-icon{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #F3FBF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 24px 30px 33px;
}
.down__colum-content{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15%;
    text-align: center;
}
.down__colum-numer{
    font-size: 48px;
    line-height: 100%;
    color: #000000;

}

.down__colum-text{
    font-size: 18px;
    line-height:167%;
    color: #000000;
}
.about{
    padding-bottom: 146px;
    
}
.about__img{
    position: absolute;
    top: -187px;
    right: -97px;
    z-index: -1;
    

}
.about__header{
    margin-top: 140px;
    position: relative;
}
.about__subtitle{
    margin-top: 20px;
    margin-bottom: 16px;
    max-width: 637px;
}
.about__content{
   
    display: flex;
    justify-content: space-between;
    // align-items: center;
}
.content__colum{
    display: flex;
    flex-direction: column;
    

}
.content__colum-item{
    width: 500px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    transition: all 0.3s;
    
}
.content__colum-item:hover{
    background: #F3FBF8;  
    .content__colum-icon{
        background: white;
    }
    
}
.content__colum-icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #F3FBF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 24px 40px 60px;
}
.content__colum-heading{
    display: flex;
    flex-direction: column;
}
.content__colum-title{
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    color: #222222;
    margin-bottom: 8px;
}
.content__colum-subtitle{
    font-weight: normal;
    font-size: 14px;
    line-height:143%;
    color: #555555;
    max-width: 277px;
}
.content__colum-arrow{
    display: inline-block;
    margin: 0 auto;
    // margin-top: 20px;
}
.content__colum-arrow:hover{
    
    box-shadow: 0px 0px 48px -1px rgba(69, 184, 62, 0.65);
}  

.content__colum-img{
    margin-top: -35px;
}

.explor{
    
   background: $bg;
   padding-bottom:143px;
   padding-top: 80px;
   
   &__header{
       position: relative;
       display: flex;
       justify-content: space-between;
   }
   &__text{
       width:640px ;
       margin-left: 50px;
       position: relative;
       z-index: 4;
   }
   &__img{
       max-width: 620px;
   }
   
   &__title{
       padding-top: 30px;
   }
   &__subtitle{
       margin-top: 20px;
       margin-bottom: 67px;
   }
   &__bg{
    position: absolute;
    right: -23px;
    bottom: -141px;
    
   }
}
.slider{
    width: 712px;
    
}
.reviews{
    padding-top: 96px;
    padding-bottom: 150px;
}
.reviews__header{
    display: flex;
    justify-content: space-between;
}
.reviews__slider{
    width: 716px;
}
.slider-item{
    &__list{
        display: flex;
        li{
            padding-right: 9px;
        }
    }
    &__subtitle{
        margin-top: 30px;
        margin-bottom: 40px;
    }
    &__client{
        font-weight: 500;
        font-size: 30px;
        line-height: 120%;
        color: #222222;
        margin-bottom: 20px;
    }
    
    
}
.slider-item__arrows-left{
    position: absolute;
    bottom: 0;
    left: 327px;
    width: 56px;
    height: 56px; 
    border-radius: 50%;
    background-image: url(../img/reviews/arrow-left.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #CCCCCC;
    cursor: pointer;
    
}

.slider-item__arrows-right{
    position: absolute;
    bottom: 0;
    left: 410px;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    background-image: url(../img/reviews/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: $green;
    cursor: pointer;
    
    
 }
 

.reviews__img-slider{
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background: #F3FBF8;
}

    .reviews__img-avatar{
        
        overflow: hidden;
        border-radius: 50%;
        position: absolute;
        bottom: 0;
        left: 30px;
    }
    
 
 .reviews__img-client{
     position: absolute;
    width: 220px;
    height: 80px;
    background: #FFFFFF;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 12px 21px 12px 35px;
    bottom: 15px;
    left: 0;
    
 }
 .reviews__img-list{
     display: flex;
     margin-bottom: 10px;
 }
 .reviews__img-list2{
     display: flex;
     
 }
 .reviews__img-list2 li{
    margin-right: -5px;
    
}
.slider2{
    width: 500px
}
.simpl{
    padding-bottom: 206px;
}
.simpl__row{
    display: flex
}
.simpl__content-app{
    padding: 11px 24px;
    background-color: $bg;
    border-radius: 50px;
    width: 170px;
    margin-top: 70px;
    margin-bottom: 16px;
}
.simpl__img{
    position:relative;
    min-width: 243px;
    margin-left: 100px;
    
    
    
    
}
.simpl__img-big{
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.simpl__img-little{
    position: absolute;
    left: -28px;
    top: 30px;
}
.simpl__content{
    width: 709px;
    margin-left: 112px;
}
.simpl__content-subtitle{
    margin-top: 20px;
    margin-bottom: 50px;
}
.simpl__store{
    width: 232px;
    display: flex;
    justify-content: space-between;
}
.footer__row{
    display: flex;
    justify-content: space-between;
}
.footer{
    padding-bottom: 118px;
}
.footer__info{
    width:100%;
}
.info-footer__text{
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: #555555;
    margin-top: 30px;

}
.footer__colum{
    margin-top: 70px;
    padding-left: 142px;
}
.footer__colum-item{
    display: flex;
    width: 100%;
    
}
.footer__label{
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #222222;
    margin-bottom: 40px;
}
.menu-footer__link{
    
    font-size: 18px;
    line-height: 23px;
    color: #555555;
    &:hover{
        text-decoration: underline;
    }
    
}
.menu-footer__item{
    margin-bottom: 25px;
}
.contacts-footer__item{
margin-bottom: 25px;
display: inline-block;
}
.contacts-footer{
    font-size: 18px;
    line-height: 23px;
    color: #222222;
}
.contacts-footer__email{
    font-size: 18px;
    line-height: 23px;
    color: #222222;
    &:hover{
        text-decoration: underline;
    }
}
.contacts-footer__social{
    display: flex;
    width:80%;
    justify-content: space-between;
    
}

@import 'media';

